.Button {
  all: unset;
  color: var(--c-brown);
  background-color: var(--c-black);
  border: 2px solid var(--c-brown); 
  border-radius: 1.5em;
  font-size: 2em;
  min-width: 8em;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  text-align: center;
}

.Button:hover {
  opacity: 0.8;
}