.Message {
  text-align: center;
}

.Vs,
.Betting,
.Brown {
  color: var(--c-brown);
}

.Play {
  font-size: 2em;
}

.Red {
  color: var(--c-red-xs);
  font-size: 2em;
}

.Green {
  color: var(--c-green-xs);
  font-size: 2em;
}

.Draw {
  color: var(--c-brown);
  font-size: 2em;
}


.White {
  color: var(--c-white);
}
