.Layout {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, var(--c-dark-xxl), var(--c-dark-xss));
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--c-black);
}

.Section {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
