:root {
  /* VARIABLES */
  --c-white: #ffffff;
  --c-black: #000000;
  --c-dark-xxl: #242424;
  --c-dark-xss: #4d4d4d;
  --c-brown: #d2b48c;
  --c-blue-xs: #1e90ff;
  --c-blue-xl: #000080;
  --c-green-xs: #90ee90;
  --c-green-xl: #006400;
  --c-red-xs: #f08080;
  --c-red-xl: #8b0000;

  /* FONT */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BASIC */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
